	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/10/2016 08:51
  	*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/flaticon.eot");
  src: url("../fonts/flaticon/flaticon.eot#iefix") format("embedded-opentype"),
  url("../fonts/flaticon/flaticon.woff") format("woff"),
  url("../fonts/flaticon/flaticon.ttf") format("truetype"),
  url("../fonts/flaticon/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

 

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}

.flaticon-biliard:before { content: "\f100"; }
.flaticon-climbing:before { content: "\f101"; }
.flaticon-disco-ball:before { content: "\f102"; }
.flaticon-exercise:before { content: "\f103"; }
.flaticon-game:before { content: "\f104"; }
.flaticon-movie-symbol-of-video-camera:before { content: "\f105"; }
.flaticon-playground:before { content: "\f106"; }
.flaticon-sport:before { content: "\f107"; }